section.facilitator details[open]:not(:last-of-type){
  margin-bottom: 24pt;
  padding-bottom: 24pt;
  border-bottom: 1px dotted white;
}

section.facilitator details[open] summary{
  text-decoration: underline;
  margin-left: 24pt;
  margin-bottom: 12pt;
}

section.facilitator figure {
 
}

section.facilitator figure img {
  max-width: 75vw;
  max-height: 75vh;
}