section.food-menu .date-picker select {
  position: fixed;
  bottom: 24pt;
  right: 50%;
  transform: translateX(50%);
  border: none;
  padding: 4pt 8pt 8pt 8pt;
  background-color: #D6D6CB;
  color: rgb(25, 25, 0);
  border-radius: 24pt;
  z-index: 2;
  text-align: center;
  appearance: none;
  font-family: "GeneralGrotesqueBold", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

section.food-menu .date-picker select option{
  width: 100px;
  overflow: hidden;
}

section.food-menu .arrow-button {
  border: none;
  padding: 4pt 8pt 8pt 8pt;
  background-color: #D6D6CB;
  color: rgb(25, 25, 0);
  border-radius: 24pt;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

section.food-menu .left-arrow {
  left: 24pt;
  display: inline-block;
}

section.food-menu .right-arrow {
  right: 24pt;
  display: inline-block;
}

section.food-menu .menu-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.food-menu .menu-container .dish-container {
  padding: 24pt;
  border-radius: 50%;
  background-color: #D6D6CB;
  width: 75vmin;
  height: 75vmin;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(25, 25, 0);
}

section.food-menu .menu-container .dish-container .dish-info .dish-type {
  font-size: 12pt;
  text-transform: uppercase;
}

section.food-menu .menu-container .dish-container .dish-info .dish-name {
  padding-bottom: 24pt;
  font-family: "GeneralGrotesqueBold", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

section.food-menu .menu-container .dish-container .dish-info .dish-ingredients {
  list-style-type: none;
  font-size: 12pt;
}

section.food-menu
  .menu-container
  .dish-container
  .dish-info
  .dish-ingredients
  li {
  display: inline;
  font-size: inherit;
}

section.food-menu
  .menu-container
  .dish-container
  .dish-info
  .dish-ingredients
  li:not(:last-of-type)::after {
  content: ",";
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  section.food-menu .arrow-button {
    top: 65%;
  }
}