@font-face {
  font-family: "GeneralGrotesque";
  src: url("../font/GeneralGrotesqueMonoTest-light.otf");
  font-weight: 100;
}

@font-face {
  font-family: "GeneralGrotesque";
  src: url("../font/GeneralGrotesqueMonoTest-Bold.otf");
  font-weight: 300;
}

*{
  box-sizing: border-box;
  font-family: 'GeneralGrotesque', Arial, Helvetica, sans-serif;
  font-weight: 100;
  word-break: keep-all;
  font-size: 24pt;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

::-webkit-scrollbar {
  display: none;
}

body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#toggleButton{
  display: none;
  padding: 4pt 8pt 8pt 8pt;
  position: fixed;
  top: 24pt;
  right: 24pt;
  border: none;
  color: #D6D6CB;
  background-color: rgba(25, 25, 0, 0.75);
  border-radius: 24pt;
  z-index: 1;
  font-family: 'GeneralGrotesque', Arial, Helvetica, sans-serif;
  font-weight: 300;
  mix-blend-mode: difference;
}


#toggleButton #speed-indicator{
  filter: grayscale(100%) contrast(1.2);
}

nav ul li:hover,
section button:hover,
section select:hover,
section summary:hover,
#toggleButton:hover{
  cursor: pointer;
  text-decoration: underline;
}

nav{
  position: fixed;
  mix-blend-mode: difference;
}

nav ul li{
  padding: 12pt;
  border-radius: 24pt;
  list-style-type: none;
  display: block;
  z-index: -1;
  position: fixed;
  color: #D6D6CB;
  background-color: rgba(25, 25, 0, 0.75);
  font-family: 'GeneralGrotesque', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

section {
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  overflow-y: scroll;
  scrollbar-width: none;
  color: #D6D6CB;
  padding: 24pt;
}

section .close-button{
  padding: 4pt 8pt 8pt 8pt;
  margin-bottom: 24pt;
  font-weight: normal;
  position: sticky;
  top: 0pt;
  border: none;
  background-color: #D6D6CB;
  color: rgb(25, 25, 0);
  border-radius: 24pt;
  z-index: 3;
  font-family: "GeneralGrotesque", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.active {
  background-color: #D6D6CB;
  color: rgb(25, 25, 0);
  text-decoration: underline;
}

.night-school-wordmark{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 95vw;
  max-width: 100vw;
  max-height: 100vh;
  /* border: 1px solid red; */
  user-select: none;
  z-index: -1;
  mix-blend-mode: difference;
}

.night-school-silhouette{
  width: 95vw;
  user-select: none;
  z-index: -1;
  mix-blend-mode: difference;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #toggleButton{
    display: block;
  }
  *{
    font-size: 16pt;
  }
}