*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  word-break: keep-all;
  font-size: 24pt;
  padding: 0;
  margin: 0;
  list-style-type: none;
  touch-action: none;
}

::-webkit-scrollbar {
  display: none;
}

body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#toggleButton{
  display: none;
  padding: 6pt 12pt;
  position: fixed;
  top: 24pt;
  right: 24pt;
  border: none;
  color: #D6D6CB;
  background-color: rgba(25, 25, 0, 0.75);
  border-radius: 24pt;
  z-index: 1;
  font-weight: bold;
  text-transform: uppercase;
  mix-blend-mode: difference;
}


#toggleButton #speed-indicator{
  filter: grayscale(100%) contrast(1.2);
}

nav ul li:hover,
section button:hover,
section select:hover,
section summary:hover,
#toggleButton:hover,
nav ul li button:hover,
a:hover{
  cursor: pointer;
  text-decoration: underline;
}

nav{
  position: absolute;
  mix-blend-mode: difference;
}

nav ul li{
  list-style-type: none;
  display: block;
  z-index: -1;
  position: absolute;
}

nav ul li button{
  padding: 6pt 12pt;
  border-radius: 24pt;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #D6D6CB;
  background-color: rgba(25, 25, 0, 0.75);
}

section {
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  overflow-y: scroll;
  scrollbar-width: none;
  color: #D6D6CB;
  padding: 24pt;
}

section .close-button{
  padding: 6pt 12pt;
  margin-bottom: 24pt;
  position: sticky;
  top: 0;
  border: none;
  background-color: #D6D6CB;
  color: rgb(25, 25, 0);
  border-radius: 24pt;
  z-index: 3;
  font-weight: bold;
  text-transform: uppercase;
}

.active {
  color: rgb(25, 25, 0);
  background-color: #D6D6CB;
  text-decoration: underline;
}

.night-school-wordmark{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 95vw;
  max-width: 100vw;
  max-height: 100vh;
  user-select: none;
  z-index: -1;
  mix-blend-mode: difference;
}

.night-school-silhouette{
  width: 95vw;
  user-select: none;
  z-index: -1;
  mix-blend-mode: difference;
  position: fixed;
  bottom: 5vw;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #toggleButton{
    display: block;
  }
  *{
    font-size: 16pt;
  }
}