section.reading-list .reading-collection-name{
    text-transform: uppercase;
    margin-left: 24pt;
    font-family: "GeneralGrotesque", Arial, Helvetica, sans-serif;
    font-weight: 300;
}

section.reading-list .reading-title  {
    font-style: italic;
}

section.reading-list .reading-collection-list:not(:last-of-type){
    padding-bottom: 24pt;
}