section.reading-list .reading-collection-name{
    text-transform: uppercase;
    padding-left: 24pt;
    font-weight: bold;
    text-transform: uppercase;
}

section.reading-list .reading-collection-name:not(:first-of-type){
    border-top: 1px dotted #d6d6cb80;
    padding-top: 24pt;
}

section.reading-list .reading-title  {
    font-style: italic;
}

section.reading-list .reading-collection-list:not(:last-of-type){
    padding-bottom: 24pt;
}