section.sessions .sessions-title{
    font-family: "GeneralGrotesque", Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 24pt;
}

section.sessions .sessions-description{
}

section.sessions .sessions-description:not(:last-of-type){
    margin-bottom: 24pt;
}