section.sessions .sessions-title{
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 24pt;
}

section.sessions .sessions-title:not(:first-of-type){
    border-top: 1px dotted #d6d6cb80;
    padding-top: 24pt;
}

section.sessions .sessions-description:not(:last-of-type),
section.sessions .sessions-description-secondary:not(:last-of-type){
    margin-bottom: 24pt;
}

section.sessions .sessions-description-secondary{
    font-size: 16pt;
    width: 75%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    section.sessions .sessions-description-secondary{
        font-size: 12pt;
    }
  }