section.sessions .sessions-title{
    font-family: "GeneralGrotesqueBold", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-left: 24pt;
}

section.sessions .sessions-description{
}

section.sessions .sessions-description:not(:last-of-type){
    margin-bottom: 24pt;
}